:root {
  --white: white;
  --black: black;
}

.navbar-logo-left {
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  display: flex;
}

.navbarcontainer {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.navbar-content {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.navbar-brand {
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.logo {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 36px;
  text-decoration: none;
  display: flex;
}

.navbar-menu {
  grid-column-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.navbar-link {
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  text-decoration: none;
  display: flex;
}

.text {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.navbar-button {
  grid-column-gap: 8px;
  background-color: #000;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.text-2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.hero-stack {
  grid-row-gap: 80px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.title-section {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-3 {
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

.error-bddb4a33-e1b9-0b9b-2cb9-b64a28d258e5 {
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.actions {
  grid-column-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  text-decoration: none;
  display: flex;
}

.button {
  grid-column-gap: 8px;
  background-color: #000;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.image-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image {
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.body {
  color: #353434;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.footer {
  grid-row-gap: 40px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px 8px;
  text-decoration: none;
  display: flex;
}

.columns {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.column {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 320px;
  text-decoration: none;
  display: flex;
}

.logo-wrapper {
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  text-decoration: none;
  display: flex;
}

.small-columns {
  grid-column-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  padding-top: 16px;
  text-decoration: none;
  display: flex;
}

.column-2 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.content {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-5 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}

.footer-links {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.link {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.copyright {
  grid-column-gap: 32px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 940px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 -1px #e4ebf3;
}

.text-6 {
  color: #333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.text-7 {
  color: #b754f3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

.button-2 {
  grid-column-gap: 8px;
  background-color: #b754f3;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-8 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.image-2 {
  background-image: url('../images/Image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 610px;
  text-decoration: none;
  display: flex;
}

.be1935d39093e3019f49ef30e68b5283-1 {
  object-fit: cover;
}

.text-9 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.navbar-button-2 {
  grid-column-gap: 8px;
  background-color: #b754f3;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.text-10 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.section-marquee-secondary {
  color: #000;
  background-color: #d2f65a;
  overflow: hidden;
}

.marquee-secondary-inner {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
}

.marquee-secondary-text {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

@media screen and (max-width: 991px) {
  .navbar-logo-left {
    padding-right: 0;
  }

  .navbar-menu {
    max-width: unset;
  }

  .navbar-link, .navbar-button {
    justify-content: center;
  }

  .columns {
    flex-direction: column;
    align-items: center;
  }

  .column, .content, .footer-links {
    align-items: center;
  }

  .navbar-button-2 {
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .small-columns {
    flex-direction: column;
    align-items: center;
  }
}
